*{padding:0; margin:0;}
body{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#47494b; text-align:center;}
table{border-collapse:collapse; padding:0;  font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#47494b;}
td{vertical-align:top; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; color:#47494b;}
a {color:#47494b; text-decoration:underline;}
a:hover{text-decoration:none;}
img {border:0;}

.clear{clear:both;}

.top_talling2{background:url(../images/top_talling2.gif) repeat-x left top #e5e5e5;}
.top_talling3{background:#925a7d;}
.top_talling4{background:url(../images/top_talling.jpg) repeat-x left top;}
/***************************************************************************************************************/

.body_back1{background:url(../images/body_back1.jpg) no-repeat right top;}


.main_t{width:857px; margin:auto; text-align:left;}


.h_menu ul{list-style:none; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin-left:9px;}
.h_menu ul li{float:left; background:url(../images/menu_bg1.gif) no-repeat 100% 3px; display:block;}
.h_menu ul li.last{float:left; background:none; display:block;}
.h_menu ul li a{text-decoration:none; color:#ffffff;}
.h_menu ul li span{display:block; padding:0 36px 0 36px;}
.h_menu ul li.first span{display:block; padding:0 36px 0 0;}
.h_menu ul li.last span{display:block; padding:0 0 0 36px;}
.h_menu ul li a:hover{text-decoration:underline;}


.header_t .row1{height:151px;}
.header_t .row2{min-height:32px; height:auto !important; height:32px;}
.header_t .row3{height:49px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#6d6d6d; text-transform:lowercase;}
.header_t .row3 select{width:90px; height:18px; color:#000000; font-size:10px; text-transform:none;}
.header_t .row3 .col1{width:900px; float:left;}
.header_t .row3 .col2{width:70px; float:left;}
.header_t .row3 .col3{width:161px; float:left; background:url(../images/h_bg2.gif) no-repeat 111px 2px;}
.header_t .row3 .col4{width:200px; float:left;}
.header_t .row3 .col5{width: auto; float:left;}



.user_menu ul{list-style:none; text-transform:capitalize; margin-left:8px;}
.user_menu li{float:left; background:url(../images/user_menu_bg.gif) no-repeat 100% 7px; display:block; line-height:16px; font-size:12px;}
.user_menu li a{display:block; padding:0 17px 0 17px; text-decoration:none; color:#7a7a7a}
.user_menu li.first a{display:block; padding:0 16px 0 0; text-decoration:none; color:#7a7a7a}
.user_menu li.last a{display:block; padding:0 16px 0 16px; text-decoration:none; color:#7a7a7a;}
.user_menu li a:hover{text-decoration:underline !important;}


.inmain1{background:url(../images/main_t_side_bg.gif) repeat-x left top #FFFFFF; width:100%;}
.inmain2{background:url(../images/main_t_side_bg.gif) repeat-x left bottom; width:100%;}
.inmain3{background:url(../images/main_t_side_bg.gif) repeat-y left top; width:100%;}
.inmain4{background:url(../images/main_t_side_bg.gif) repeat-y right top; width:100%;}
.inmain5{background:url(../images/main_t_left_top_bg.gif) no-repeat left top; width:100%;}
.inmain6{background:url(../images/main_t_left_bottom_bg.gif) no-repeat left bottom; width:100%;}
.inmain7{background:url(../images/main_t_right_top_bg.gif) no-repeat right top; width:100%;}
.inmain8{background:url(../images/main_t_right_bottom_bg.gif) no-repeat right bottom; width:100%;}
.inmain9{padding:8px 9px 9px 8px;}



.content_t{}
.footer_t{ background:url(../images/footer_bg2.gif) repeat-x left top;}
.footer_t .inner1{}
.footer_t .inner2{background:url(../images/footer_bg3.gif) no-repeat right top; height:81px;}
.footer_t .inner3{padding:21px 24px 0 0; text-align:right;}









/******************************************************************/

.product_box {width:100%; margin-bottom:1px; background:#ffffff}
.product_box .bg_inner9{padding:19px 19px 0 19px;}


.product_box2 {width:100%; margin-bottom:2px; background:#fffffff}
.product_box2 .bg_inner1{background:url(../images/product_box_side_bg.gif) repeat-x left top;width:100%;}
.product_box2 .bg_inner2{background:url(../images/product_box_side_bg.gif) repeat-x left bottom;width:100%;}
.product_box2 .bg_inner3{background:url(../images/product_box_side_bg.gif) repeat-y left top;width:100%;}
.product_box2 .bg_inner4{background:url(../images/product_box_side_bg.gif) repeat-y right top;width:100%;}
.product_box2 .bg_inner5{background:url(../images/product_box_left_top_bg.gif) no-repeat left top;width:100%;}
.product_box2 .bg_inner6{background:url(../images/product_box_left_bottom_bg.gif) no-repeat left bottom;width:100%;}
.product_box2 .bg_inner7{background:url(../images/product_box_right_top_bg.gif) no-repeat right top;width:100%;}
.product_box2 .bg_inner8{background:url(../images/product_box_right_bottom_bg.gif) no-repeat right bottom;width:100%;}
.product_box2 .bg_inner9{padding:30px 19px 22px 20px;}
.product_box2 .bg_inner91{padding:30px 19px 22px 20px;}







.product_box_PagesResult{overflow:hidden; margin-bottom:6px;}
.product_box_PagesResult .row1 .product_box_PagesResult_inner1{background:url(../images/bg_PagesResult_right_top.gif) no-repeat right top; padding-right:10px;}
.product_box_PagesResult .row1 .product_box_PagesResult_inner2{background:url(../images/bg_PagesResult_left_top.gif) no-repeat left top; padding-left:10px;}
.product_box_PagesResult .row1 .product_box_PagesResult_inner3{background:url(../images/bg_PagesResult_top.gif) repeat-x left top; height:9px;}

.product_box_PagesResult .row2{background:url(../images/bg_PagesResult_top2.gif) repeat-x left top #f2f2f2; width:100%;}
.product_box_PagesResult .row2 .product_box_PagesResult_inner1{background:url(../images/bg_PagesResult_left.gif) repeat-y left top; width:100%;}
.product_box_PagesResult .row2 .product_box_PagesResult_inner2{background:url(../images/bg_PagesResult_left.gif) repeat-y right top; width:100%;}
.product_box_PagesResult .row2 .product_box_PagesResult_inner3{background:url(../images/bg_PagesResult_left_top2.gif) no-repeat left top; width:100%;}
.product_box_PagesResult .row2 .product_box_PagesResult_inner4{background:url(../images/bg_PagesResult_right_top2.gif) no-repeat right top; width:100%;}

.product_box_PagesResult .row3 .product_box_PagesResult_inner1{background:url(../images/bg_PagesResult_right_bottom.gif) no-repeat right top; padding-right:10px;}
.product_box_PagesResult .row3 .product_box_PagesResult_inner2{background:url(../images/bg_PagesResult_left_bottom.gif) no-repeat left top; padding-left:10px;}
.product_box_PagesResult .row3 .product_box_PagesResult_inner3{background:url(../images/bg_PagesResult_bottom.gif) repeat-x left top; height:10px;}






#column_center{width:100%;}








.title_box{overflow:hidden; margin-bottom:6px;}
.title_box .row1 .title_inner1{background:url(../images/bg_titile_right_top.gif) no-repeat right top; padding-right:19px;}
.title_box .row1 .title_inner2{background:url(../images/bg_titile_left_top.gif) no-repeat left top; padding-left:15px;}
.title_box .row1 .title_inner3{background:url(../images/bg_titile_top.gif) repeat-x left top; height:12px;}

.title_box .row2{background:url(../images/bg_titile_top2.gif) repeat-x left top #414141;}
.title_box .row2 .title_inner1{background:url(../images/bg_titile_left.gif) repeat-y left top;}
.title_box .row2 .title_inner2{background:url(../images/bg_titile_left.gif) repeat-y right top;}
.title_box .row2 .title_inner3{background:url(../images/bg_titile_left_top2.gif) no-repeat left top;}
.title_box .row2 .title_inner4{background:url(../images/bg_titile_right_top2.gif) no-repeat right top;}



.title_box .row3 .title_inner1{background:url(../images/bg_titile_right_bottom.gif) no-repeat right top; padding-right:15px;}
.title_box .row3 .title_inner2{background:url(../images/bg_titile_left_bottom.gif) no-repeat left top; padding-left:15px;}
.title_box .row3 .title_inner3{background:url(../images/bg_titile_bottom.gif) repeat-x left top; height:7px;}





.img_box1 {background:#ffffff; float:left; width:auto;}
.img_box1 .bg_inner1{background:url(../images/img_box1_side.gif) repeat-x left top;}
.img_box1 .bg_inner2{background:url(../images/img_box1_side.gif) repeat-x left bottom;} 
.img_box1 .bg_inner3{background:url(../images/img_box1_side.gif) repeat-y left top;}
.img_box1 .bg_inner4{background:url(../images/img_box1_side.gif) repeat-y right top;}
.img_box1 .bg_inner5{background:url(../images/img_box1_left_top.gif) no-repeat left top;}
.img_box1 .bg_inner6{background:url(../images/img_box1_left_bottom.gif) no-repeat left bottom;}
.img_box1 .bg_inner7{background:url(../images/img_box1_right_top.gif) no-repeat right top;}
.img_box1 .bg_inner8{background:url(../images/img_box1_right_bottom.gif) no-repeat right bottom;}
.img_box1 .bg_inner9{padding:2px 3px 4px 3px;}


.img_box11 {background:#ffffff;}
.img_box11 .bg_inner1{background:url(../images/img_box2_side.gif) repeat-x left top;}
.img_box11 .bg_inner2{background:url(../images/img_box2_side.gif) repeat-x left bottom;} 
.img_box11 .bg_inner3{background:url(../images/img_box2_side.gif) repeat-y left top;}
.img_box11 .bg_inner4{background:url(../images/img_box2_side.gif) repeat-y right top;}
.img_box11 .bg_inner5{background:url(../images/img_box2_left_top.gif) no-repeat left top;}
.img_box11 .bg_inner6{background:url(../images/img_box2_left_bottom.gif) no-repeat left bottom;}
.img_box11 .bg_inner7{background:url(../images/img_box2_right_top.gif) no-repeat right top;}
.img_box11 .bg_inner8{background:url(../images/img_box2_right_bottom.gif) no-repeat right bottom;}
.img_box11 .bg_inner9{padding:4px;}






.productListing-data .img_box{margin-bottom:9px; overflow:hidden; background:#FFFFFF; margin-right:0; float:left !important;}





.description_box {color:#47494b; font-size:12px;  line-height:12px; padding-top:6px;}
.price_box .description_box {color:#47494b; font-size:12px; line-height:15px;}








.product_box_name{color:#9d5982;  font-size:14px; font-weight:bold;}
.product_box_name .indent{padding:0 10px 23px 6px;}

.product_box_name a{color:#9d5982; text-decoration:none; font-weight:bold;  font-size:12px; line-height:16px; text-transform:uppercase}
.product_box_name a:hover{text-decoration:underline;}

.product_box_price{color:#6a3e5d; font-size:15px; font-weight:normal;}
.product_box_price .indent{padding:16px 10px 7px 0;}
.product_box_price strong{font-weight:normal;}



.text{}

.product_box_button{background:url(../images/product_box_button_bg.gif) repeat-x left bottom; padding-bottom:2px; padding-left:3px; margin-left:7px;}


.price_box{ width:auto; margin-top:0;}
.price_box .td1{width:77px; background:url(../images/price_box_divider.gif) no-repeat right top; padding-top:3px;}
.price_box .td1 .wrap{padding:1px 7px 0 0;}
.price_box .td2{width:auto;}
.price_box .td2 .wrap{padding:0 0 0 17px;}








.prod_box2 .imgbox{float:left; position:relative;}
.prod_box2 .contentbox{float:left; width:100%;}
.prod_box2 .contentbox .contentbox_in{}
.prod_box2 .contentbox .contentbox_in strong{color:#000000;}
.contentbox_in a {text-decoration:none;}
.contentbox_in a strong{color:#13140d; text-decoration:none;}
.contentbox_in a:hover strong{text-decoration:underline;}


.prod_box2 .price .col1{width:auto; float:left; padding-top:4px;}
.prod_box2 .price .col2{width:auto; float:right;}


/************************************************************/
.background-topic-top{background:url(../images/bg-topic-top.gif) repeat-x left top; width:100%;}
.background-topic-top-right{ background:url(../images/bg-topic-top-right.gif) no-repeat right top; width:100%;}
.background-topic-top-left{ background:url(../images/bg-topic-top-left.gif) no-repeat left top; height:5px; width:100%;}

.background-topic-bottom{background:url(../images/bg-topic-bottom.gif) repeat-x left bottom ; width:100%;}
.background-topic-bottom-right{background:url(../images/bg-bottom-right-1.gif) no-repeat right bottom; width:100%;}
.background-topic-bottom-left{ background:url(../images/bg-bottom-left-1.gif) no-repeat left bottom; height:5px; margin-bottom:0;}




.background-topic-top2{background:url(../images/bg-topic-side.gif) repeat-x left top; width:100%;}
.background-topic-top-right2{ background:url(../images/bg-topic-top-right-2.gif) no-repeat right top; width:100%;}
.background-topic-top-left2{ background:url(../images/bg-topic-top-left-2.gif) no-repeat left top; height:12px; width:100%;}

.background-topic-bottom2{background:url(../images/bg-topic-bottom-2.gif) repeat-x left bottom ; width:100%;}
.background-topic-bottom-right2{background:url(../images/bg-bottom-right-2.gif) no-repeat right bottom; width:100%;}
.background-topic-bottom-left2{ background:url(../images/bg-bottom-left-2.gif) no-repeat left bottom; height:7px; width:100%;}










.background-side-heading_l{ background:url(../images/background-side-heading_l_bg.gif) no-repeat left top;}
.background-side-heading_r{ background:url(../images/background-side-heading_r_bg.gif) no-repeat right top;}

.background-top-right{}
.background-product-side{}
.background-product-top-side{}

.background-bottom{ background:url(../images/background-bottom-bg.gif) repeat-x left top; margin-bottom:6px;}
.background-bottom-right{ background:url(../images/background-bottom-right-bg.gif) no-repeat right top;}
.background-bottom-left{ background:url(../images/background-bottom-left-bg.gif) no-repeat left top; height:10px;}







.bg-topic-top-right{ background:url(../images/bg-bottom-right-3.gif) no-repeat right top #FFFFFF; width:100%;}
.bg-topic-top-left{ background:url(../images/bg-bottom-left-3.gif) no-repeat left top; height:12px;}

.bg-topic-bottom-right{ background:url(../images/bg-top-right-3.gif) no-repeat right top #FFFFFF; width:100%;}
.bg-topic-bottom-left{ background:url(../images/bg-top-left-3.gif) no-repeat left top; height:12px;}

.main{color:#000000;}


.background-product-top{ background:#ffffff;}
.background-product-top strong{color:#6a3e5d !important; font-size:14px !important; line-height:24px !important; font-weight:normal; }
.background-product-top a strong{text-decoration:none; color:#9d5982 !important; font-size:12px !important; line-height:18px !important; font-weight:bold; text-transform:uppercase}
.background-product-top a:hover strong{text-decoration:underline;}
.background-product-top a {text-decoration:none;}
.background-product-top a:hover {text-decoration:none;}

.background-product-bottom{ background:url(../images/productListing-data-bg.gif) repeat-x left bottom #FFFFFF; font-size:12px; color:#47494b; line-height:15px;}



.background-white-left{ background:url(../images/bg-topic-side.gif) repeat-y left top;}
.background-white-right{ background:url(../images/bg-topic-side.gif) repeat-y right top;}



.background-white{ background:#FFFFFF}




